<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <typeAliases>
			<typeAlias alias="User" type="com.scriptwhale.board.vo.User"/>
            <typeAlias alias="Board" type="com.scriptwhale.board.vo.Board"/>
            <typeAlias alias="Comment" type="com.scriptwhale.board.vo.Comment"/>
        </typeAliases>
        <mappers>
            <mapper resource="mybatis/mappers/users.xml"/>
            <mapper resource="mybatis/mappers/board.xml"/>
            <mapper resource="mybatis/mappers/comments.xml"/>
        </mappers>
</configuration>